/* style the hole game*/
*{
  padding: 0%;
  margin: 0%;
  background-color: rgb(1, 23, 167);
}
#game{
  padding: 40px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#gameTable{
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.inbox{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 100px;
  text-shadow: 5px 5px gray;
  color: rgb(255, 140, 0);
  
}
.inbox{
  
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 140, 0);
  display: flex;
}
#text{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  color: rgb(255, 140, 0);
  
}
#restartBtn:hover{
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-shadow: 5px 5px gray;
  
}
#restartBtn{
  height: 50px;
  width: 200px;
  border: 0px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 20px;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  background-color:rgb(255, 140, 0) ;
  
}
