/* style the hole game*/
*{
  padding: 0%;
  margin: 0%;
  background-color: antiquewhite;
}
#game{
  padding: 40px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#gameTable{
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.inbox{
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(95, 54, 0);
  display: flex;
}
#text{
  color: rgb(95, 54, 0);
}
#restartBtn{
  height: 50px;
  width: 200px;
  border-radius: 50px;
  color: antiquewhite;
  background-color:rgb(95, 54, 0) ;
  
}
